.test-view {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 268px;
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    cursor: pointer;
    /*justify-content: center;*/
}

.test-view h3, p {
    color: black;
}

.test-view h3 {
    font-style: normal;
    font-weight: 500;
}

.test-view p {
    font-size: small;
}

.test-view-title {
    text-align: center;
    margin: 0px;
}

.test-view-foother {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}