$main-color-white: #3DB2FF;
$main-text-color: #000000;
$main-text-color-second: #FFFFFFFF;
$main-submit-color: #66DE93;

$nav-main-color-white: $main-color-white;
$nav-second-color-white: #FFFFFFFF;

$prev-text-colors-white: $main-text-color;

$auth-text-colors: $main-text-color-second;
$auth-input-colors: $main-text-color-second;