/* nvb - navbar */
.nvb {
    background-color: #3DB2FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
}

.nvb h1, h2, h3, h4, h5, h6, a, pre, span {
    color: #FFFFFF;
    text-decoration: none;
}

.nvb span {
    font-size: 24px;
}

.nvb-links a{
    padding: 10px;
    font-size: 18px;
}