/* NavBar start */
$nav-main-color-white: #3DB2FF;
$nav-second-color-white: #FFFFFFFF;

.nav-bar-container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background: $nav-main-color-white;
}

.nav-bar .nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-bar-container a, .nav-bar-navigation a {
  text-decoration: none;
}

.nav-bar-container h1 {
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  color: $nav-second-color-white;
}

.nav-bar-navigation ul {
  margin: 1em 0 .5em;
  text-align: center;
}

.nav-bar-navigation li {
  display: inline;
}

.nav-bar-navigation a {
  display: inline-block;
  padding: .5em 1.5em;
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  color: $nav-second-color-white;
}

.nav-bar-wave {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: flex !important;
  height: 50px;
}

/* NavBar end */
